#titlearea {
	color:#DDD6B2;
	background-color:#665540;
}

#projectname {
	font-size:120%; 
	color:inherit;
	font-family:inherit;
}

#titlearea table {
	float:left;
	padding:0px 0px 0px 15px; 
}

#mugginsoft {
	padding: 12px 0px 0px 30px;
	margin:0px 15px 0px 15px; 
	text-align:right;
}

#titlearea a {
	color: white;
}

.kosmictask {
	font-size:90%;
}

.kosmictask span.kosmictask {
	font-size:100%;
}

#projectname .kosmictask {
	font-size:80%;
}

